@import "../../../constants/css/variables";

#user-info{
  margin: 0 10px;
  height: $header-height;

  .dropdown-menu{
    right: 0!important;
    left: auto;
  }

  .user-picture{
    display: inline-block;
    margin-right: 1rem;
    height: ($header-height - 10px);
    width: ($header-height - 10px);

    img{
      border: 2px white solid;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }
}
