#user-info{
  margin: 0 10px;
  height: 40px;

  .dropdown-menu{
    right: 0!important;
    left: auto;
  }

  .user-picture{
    display: inline-block;
    margin-right: 1rem;
    height: 30px;
    width: 30px;

    img{
      border: 2px white solid;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }
}
