.product-item{
  display: flex;
  flex-wrap: wrap;
  border: 2px white solid;

  &:after {
    content: "";
    float: left;
    padding-top: 100%;
  }

  .product-info{
    display: none;
  }

  &:hover{
    .product-info{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .item-product-img{
    position: absolute;
  }

  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
