.product-item{
  display: flex;
  flex-wrap: wrap;
  border: 2px white solid;

  &:after {
    content: "";
    float: left;
    padding-top: 100%;
  }

  .product-info{
    overflow: hidden;
    height: 0;
    width: 0;
    padding: 0;
  }
  &:hover{
    .product-info{
      transition: height 0.3s, width 0.3s, padding 0.3s;
      height: 100%;
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .item-product-img{
    position: absolute;
  }

  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
