.product-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: rgba(0,0,0, 0.8);
  color: white;

  .product-title{
    text-transform: uppercase;
  }

  .product-description{
    line-height: 1rem;
    font-size: 0.9rem;
    text-indent: 1rem;
    text-align: justify;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;

    @media (min-width: 720px) {
      -webkit-line-clamp: 5;
    }

  }

  .the-btn-group{
    //position: relative;
    //bottom: 0;
  }
}
